# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

#vscode
.vscode

# gradle
build
.gradle

# other
eclipse
run
logs
remappedSrc

# Files from Forge MDK
forge*changelog.txt

# Don't include forge folder (testing purpose only for now)
forge